<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">
  <!-- <button class="sidebar-toggler ml-4" type="button">
    <i class="fa fa-navicon"></i>
  </button> -->
  <!-- header -->
  <div class="navbar-header pl-2 pr-2 ml-3 text-center">
    <a class="navbar-brand m-0 w-100" href="#">
      <!-- <i class="fa fa-flash mr-1"></i> -->
      <img src="../../../assets/images/logo.png" alt="lightning logo" width="40px">
      <span class="ml-1">ShareKart</span>
    </a>
  </div>
  <!-- sidebar toggler -->
  <div class="sidebar-toggler ml-auto mr-3">
    <a class="btn nav-link" (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
  </div>
  <!-- right menu toggler -->
  <div class="nav-toggler-right mr-4 d-md-none">
    <button class="" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <img src="./assets/img/user.jpg" class="img-fluid" alt="">
    </button>
    <span class="user-profile nav-alert bg-danger"></span>
  </div>
  <!-- left box -->
  <ul class="navbar-nav flex-fill mt-1 align-items-center left-nav">
    <li class="nav-item navicon">
      <a class="btn nav-link" (click)="toggleSidebarPin()"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item flex-fill">
      <!-- <input class="form-control navbar-search" type="text" placeholder="Search . . ."> -->
    </li>
  </ul>

  <!-- right menu -->
  <div class="collapse navbar-collapse right-nav" id="collapseBasic" [collapse]="isCollapsed">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="btn nav-link">
          <i class="far fa-bell"></i>
          <span class="link-text">Alerts</span>
          <!-- <span class="badge badge-pill ba dge-danger">3</span> -->
          <span class="nav-alert notifications"></span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="btn nav-link">
          <i class="far fa-envelope"></i>
          <span class="link-text">Messages</span>
          <span class="nav-alert messages"></span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="btn nav-link" mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
          <i class="far fa-user"></i>
          <span class="link-text">Profile</span>

        </a>
        <!-- <button >
          <mat-icon>account_circle</mat-icon>
        </button> -->
        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
          <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>My Account</span>
          </button>
          <button mat-menu-item routerLink="#">
            <mat-icon>settings</mat-icon><span>Settings</span>
          </button>
          <button mat-menu-item routerLink="#">
            <mat-icon>help</mat-icon><span>Help</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>Logout
          </button>
        </mat-menu>
      </li>
      <!-- <li class="nav-item">
        <a class="btn nav-link">
          <i class="fas fa-cog"></i>
          <span class="link-text">Setting</span>
        </a>
      </li> -->
    </ul>
  </div>



</nav>