.col-md-1-2 {
  flex: 0 0 auto;
  width: 8.666667%;
}
span{
  font-size: 14px;
  padding: 16px;
  font-weight: 300;
}
.col-md-3 {
  flex: 0 0 auto;
  width: 23%;
}
.margin-5 {
  margin: 5px;
}
.col-md-1-5 {
  flex: 0 0 auto;
  width: 9.666667%;
}
mat-form-field {
  height: 74px;
  width: 100%;
}
label{
  font-size: 14px;
}
select option{
  font-size: 14px;
  padding: 8px;
}
i{
  margin-top: 10px;
}
.flex{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.fa.fa-file-excel-o {
  font-weight: 400;
  font-size: 50px;
}
button{
  margin-top: 30px;
}
select{
  width: 100%;
  height: 30px;
  margin: 4px;
  border-radius: 0.375rem;
  font-size: 14px;
  border: 1px solid #dee2e6;
}
select:focus,
select:hover{
  border: 1px solid #dee2e6;
}
.mat-elevation-z8 {    
  overflow-x: auto;
 }
 .red{
  color: red;
 }