<div>
  <h4 class="text-muted mb-4">Users </h4>
  <!-- <div class="row mt-3 date-panel">
    <div class="col-md-1">
      <label>From Date:-</label>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control" placeholder="Enter email">
    </div>
    <div class="col-md-1">To Date:-</div>
    <div class="col-md-2">
      <input type="date" class="form-control" placeholder="Enter email">

    </div>
    <div class="col-md-5">
      <button type="button" class="btn btn-yellow">Search</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-yellow">Download</button>
    </div>
  </div> -->
  <div class="row mt-3 mb-3">
    <div class="col-md-10">
      <input class="form-control navbar-search" type="text" placeholder="Search . . ." [(ngModel)]="inputValue">
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-yellow" (click)="getUserReq()">Search</button>
    </div>
  </div>

  <div class="mat-elevation-z8 mb-5">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > User ID </th>
        <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone_no">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone_no}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at | date:'fullDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="client_id">
        <th mat-header-cell *matHeaderCellDef> Client ID </th>
        <td mat-cell *matCellDef="let element"> {{element.client_id}} </td>
      </ng-container>
      <ng-container matColumnDef="parent_id">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header > Parent ID </th>
        <td mat-cell *matCellDef="let element"> {{element.parent_id}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
  <mat-paginator [pageSize]="itemsPerPage" *ngIf="this.totalItems > this.itemsPerPage"
    [pageSizeOptions]="pageSizeOptions" [length]="totalItems" setPageSize (page)="onPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
</div>