<div>
  <h4 class="text-muted mb-4">Transactions</h4>
  <div class="row mt-3 date-panel margin-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="fname">From Date:-</label>
            <input
              type="date"
              class="form-control"
              placeholder="Enter email"
              [(ngModel)]="toDate"
            />
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname">To Date:-</label>
            <input
              type="date"
              class="form-control"
              placeholder="Enter email"
              [(ngModel)]="fromDate"
            />
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname">Search By UserID:-</label>
            <input
              class="form-control navbar-search"
              type="text"
              placeholder="Search by user_id"
              [(ngModel)]="inputValue"
            />
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname">Payment Type:-</label>
            <select
              name="cars"
              id="cars"
              [(ngModel)]="filterType"
              (change)="applyFilter()"
            >
              <option value="Select your option" selected>
                Select your option
              </option>
              <option *ngFor="let filter of filterList" [ngValue]="filter">
                {{ filter }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
            <label for="lname"></label>
            <button
              type="button"
              class="btn btn-yellow"
              (click)="applyFilter()"
            >
              Search
            </button>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <div class="form-group">
            <label for="lname"></label>
            <button
              type="button"
              class="btn btn-primary"
              (click)="clearFilter()"
            >
              Clear Filter
            </button>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 flex">
          <div class="form-group">
            <label for="lname"></label>
            <i class="fa fa-file-excel-o" aria-hidden="true"   data-bs-toggle="modal"
            data-bs-target="#exampleModal"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8 mb-5 mt-5">
    <table mat-table  [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>user id</th>
        <td mat-cell *matCellDef="let element">{{ element.user_id }}</td>
      </ng-container>

      <ng-container matColumnDef="purchase_value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>purchase value</th>
        <td mat-cell *matCellDef="let element">{{ element.purchase_value }}</td>
      </ng-container>

      <ng-container matColumnDef="points_earned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Points Earned</th>
        <td mat-cell *matCellDef="let element">{{ element.points_earned }}</td>
      </ng-container>

      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</th>
        <td mat-cell *matCellDef="let element">{{ element.order_id }}</td>
      </ng-container>

      <ng-container matColumnDef="txn_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.txn_date | date : "fullDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="payment_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Type</th>
        <td mat-cell *matCellDef="let element">{{ element.payment_type }}</td>
      </ng-container>

      <ng-container matColumnDef="points_used">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Points Used</th>
        <td mat-cell *matCellDef="let element">{{ element.points_used }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="itemsPerPage"
    *ngIf="this.totalItems > this.itemsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalItems"
    setPageSize
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Raise Flag</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label for="fname">From Date:-</label>
              <input
                type="date"
                class="form-control"
                placeholder="Enter email"
                [(ngModel)]="fromDate"
              />
            </div>
          </div>
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label for="lname">To Date:-</label>
              <input
                type="date"
                class="form-control"
                placeholder="Enter email"
                [(ngModel)]="toDate"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-yellow" data-bs-dismiss="modal" (click)="downloadFile()">
          <i class="fa fa-download"></i>Download
        </button>
      </div>
    </div>
  </div>
</div>