.mdc-text-field--filled {
  background-color: white;
  width: 100%;
}

.col-md-1-2 {
  flex: 0 0 auto;
  width: 8.666667%;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 23%;
}
.margin-5{
  margin: 5px;
}
.col-md-1-5{
  flex: 0 0 auto;
  width: 9.666667%;
}